.button {
  display: flex;
  gap: 0.5rem;

  padding: 1rem;

  font-size: 0.875rem;
  font-weight: 700;

  color: var(--gray-100);

  background: var(--blue-dark);
  border-radius: 0.5rem;
  border: none;

  transition: filter 0.2s ease-in-out;

  cursor: pointer;
}

.button:hover {
  filter: brightness(1.2);
}

.button:focus-visible {
  outline: transparent;
  box-shadow: var(--outline);
}
